actionlib==1.11.9
angles==1.9.11
apturl===0.5.2ubuntu4
beautifulsoup4==4.2.1
bondpy==1.7.19
Brlapi==0.6.1
bs4==0.0.1
camera-calibration==1.12.21
camera-calibration-parsers==1.11.13
catkin==0.6.19
certifi==2017.11.5
chardet==2.2.1
checkbox-ng==0.3
checkbox-support==0.2
click==6.7
command-not-found==0.3
console==0.1.1
cv-bridge==1.11.16
cycler==0.10.0
defer==1.0.6
diagnostic-analysis==1.9.2
diagnostic-common-diagnostics==1.9.2
diagnostic-updater==1.9.2
docopt==0.6.2
dynamic-reconfigure==1.5.48
emoji==0.4.5
future==0.16.0
gazebo-plugins==2.4.15
gazebo-ros==2.4.15
gencpp==0.5.5
genlisp==0.4.15
genmsg==0.5.8
genpy==0.5.10
httplib2==0.8
image-geometry==1.11.16
interactive-markers==1.11.3
iso8601==0.1.12
language-selector==0.1
laser-geometry==1.6.4
louis==2.5.3
lxml==3.3.3
Mako==0.9.1
Markdown==2.4
MarkupSafe==0.18
matlab==0.1
matplotlib==2.1.0
message-filters==1.11.21
numpy==1.13.3
oauthlib==0.6.1
onboard==1.0.1
oneconf==0.3.7.14.4.1
pandas==0.21.0
pipreqs==0.4.9
piston-mini-client==0.7.5
plainbox==0.5.3
pluginlib==1.10.5
psycopg2==2.7.3.2
pycrypto==2.6.1
pycurl==7.19.3
Pygments==1.6
pygobject==3.12.0
pyparsing==2.0.1
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.1
python-dotenv==0.7.1
python-env==1.0.0
python-qt-binding==0.2.19
python-telegram-bot==8.1.1
python-vlc==2.2.6100
python-xlib==0.14
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
qt-dotgraph==0.2.32
qt-gui==0.2.32
qt-gui-cpp==0.2.32
qt-gui-py-common==0.2.32
requests==2.2.1
resource-retriever==1.11.8
rosbag==1.11.21
rosboost-cfg==1.11.14
rosclean==1.11.14
roscreate==1.11.14
rosgraph==1.11.21
roslaunch==1.11.21
roslib==1.11.14
roslint==0.10.0
roslz4==1.11.21
rosmake==1.11.14
rosmaster==1.11.21
rosmsg==1.11.21
rosnode==1.11.21
rosparam==1.11.21
rospy==1.11.21
rosservice==1.11.21
rostest==1.11.21
rostopic==1.11.21
rosunit==1.11.14
roswtf==1.11.21
rqt-action==0.4.9
rqt-bag==0.4.8
rqt-bag-plugins==0.4.8
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.8
rqt-gui==0.4.8
rqt-gui-py==0.4.8
rqt-image-view==0.4.9
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.4.8
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.7
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.11.18
scipy==1.0.0
screen-resolution-extra==0.0.0
sensor-msgs==1.11.9
serial==0.0.26
six==1.11.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.7.19
software-center-aptd-plugins==0.0.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.16
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
tf2-sensor-msgs==0.5.16
-e git+git@gitlab.ciirc.cvut.cz:tradr/tradr-deploy.git@3d276b9c880748eff20f8f8ff885bfe3fc6748d7#egg=tradr_init&subdirectory=tradr_init
ubuntu-drivers-common==0.0.0
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
xacro==1.9.5
xdiagnose===3.6.3build2
xkit==0.0.0
yarg==0.1.9
